<h1>@topic.title</h1>
<% if policy(@topic).edit? %>
  <%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-success' %>
<% end %>

<% @bookmarks.each do |bookmark| %>
  <%=bookmark.title %> <%= render partial: 'likes/like', locals: { the_bookmark: bookmark} %>
<% end %>
