<h1>My bookmarks</h1>

<h1 class="text-center">All Bookmarks</h1>

<% @bookmarks.each do |bookmark| %>
  <%= render partial: 'bookmars/bookmark', locals: { bookmark: bookmark } %>
  <% end %>
  
<% if current_user %>
  <%= link_to "Create Bookmark", new_bookmark_path, class: 'btn btn-primary btn-large' %>
<% end %>

<h1 class="text-center">My Liked Bookmarks</h1>
<% @likes.each do |like| %>
  <%= render partial: 'bookmars/bookmark', locals: { bookmark: like.bookmark } %>
<%end %>





<%# @bookmarks.title %>
<%# end %>