<br/>
<div class="jumbotron">
  <h1>BlocMarks</h1>
  <p>BlocMarks allows you to bookmark URLs via email, peruse other's bookmarks, and keep a personal categorized index of them.</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Solves world hunger and stuff</h2>
    <p>blah blah blah</p>
  </div>
  <div class="col-md-2">
    <h3>Eliminates other problems that you may have and stuff</h3>
    <p>Blah Blah Blah</p>
  </div>
  <div class="col-md-4">
    <h4>Gives you free stuff</h4>
    <p> blah blah... for free! </P>
  </div>
</div>
